.features {
}
.features__inner {
	background-color: rgb(246, 245, 243);
		width: 1489px;
		height: 675px;
		background-image: url(../img/features/Coffee-Cup.png), background-image: url(../img/features/Earphones.png), background-image: url(../img/features/Pen-holder.png);
}
.container {
}